// bower:scss
// endbower

body {
  padding: 0;
}

.container {
  max-width: 730px;
}

.jumbotron {
  margin-top: 30px
}
.field-label {
  font-size: 21px;
}
.actions {
  display: flex;
}
.button-outer {
  flex: 0 0 auto;
}
.spinner-outer {
  flex: 1 1 auto;
}
.alert {
  margin-bottom: 15px;
}
.users-list h3 {
  margin-top: 0px;
}
.users-list tr td:first-child {
  width: 95px;
}
.nothing-found {
  display: none;
}
.submitted.ng-valid .nothing-found {
  display: block;
}
.loading .nothing-found {
  display: none !important;
}
.avatar {
  max-width: 79px;
  height: auto;
}

@keyframes spinner {
  0% {transform: rotateZ(0deg);}
  100% {transform: rotateZ(360deg);}
}
.spinner {
  display: none;
  animation: spinner 1s infinite linear;
  height: 24px;
  margin: 10px;
  width: 24px;
  font-size: 24px;
  line-height: 24px;
}
.loading .spinner {
  display: inline-block;
}
